@font-face{
    src: url('/fonts/font.woff2');
    font-family: 'font1';
}

@font-face{
    src: url('/fonts/Vintages.ttf');
    font-family: 'font2';
}

@font-face{
    src: url('/fonts/LEonardo-Demo-Bold.otf');
    font-family: 'font3';
}

@font-face{
    src: url('/fonts/LEonardo-Demo-Bold.otf');
    font-family: 'font4';
}
*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 100%;
    height: 100%;
    background-image: url('https://images4.alphacoders.com/431/thumb-1920-43134.jpg');
    background-attachment:fixed;
    }

.slides{
    background-color: transparent;
    height: 500px;
    max-width: 100%;
}

.titulo{
    top: 10%;
    max-width: 100%;
    position: absolute;
    font-family: font1;
    text-transform: uppercase;
    margin-left: 12%;
    font-weight: bold;
    font-size: 60px;
    z-index: 3;
    color: rgb(255, 217, 1);
    filter: blur(0px);
    z-index: 5;

}

#titulo-g{
    font-size: 20px;
    color: rgb(95, 94, 88);
    z-index: 2;

}

#st2{
    color: rgb(43, 43, 43);
    font-size: 90px;

}


#img-slide{
    position: relative;
    max-height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: 0px 0px;
    z-index: 1;
    filter: blur(0px) grayscale();
}

#degrade-slide{
    position: absolute;
    top: 0%;
    z-index: 3;
    width: 100%;
    height: 500px;
    border-bottom: 10px solid rgba(121, 121, 121, 0.296);
    box-shadow: rgb(238, 238, 238) 0px 1px 2px;
    animation: borderanime 25s ease infinite;
}
@keyframes borderanime{
    0%{border-bottom: 10px solid rgba(255, 251, 0, 0.871);}
    25%{border-bottom: 10px solid rgba(255, 247, 0, 0.96);}
    50%{border-bottom: 10px solid rgba(255, 247, 0, 0.734);}
    75%{border-bottom: 10px solid rgba(251, 255, 6, 0.296);}
    100%{border-bottom: 10px solid rgba(255, 230, 0, 0.693);}
}
.cab{
    max-width: 100%;
    min-width: 100%;
    height: 60px;
    max-height: 60px;
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(199, 199, 199, 0.412) 0px 1px 2px;
    position: relative;
}



#cab-menu{
    display: flex;
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.align-menu{
    display: flex;
    background-color: transparent;
    position: relative;
    margin-left: 20px;
}

#cab-el{
    color: black;
    overflow: hidden;
    margin-right: 10px;
    text-decoration: none;
    margin-top: 23px;
    position: relative;
    font-family: font1;
}

#logo{
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 5px;
    margin-right: 5px;
}

#logo-titulo{
    position: relative;
    width: 100%;
    object-fit: cover;
    height: 100%;
    z-index: 5;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

#icos-1{
    background-image: url('/img/criança.png');
    background-position: 330px -3px;
    background-size: 111px;
}
#icos-2{
    background-image: url('/img/criança.png');
    background-position: 330px -3px;
    background-size: 111px;

}
#icos-3{
    background-image: url('/img/criança.png');
    background-position: 330px -3px;
    background-size: 111px;
    
}

.circle-icos{
    border: 1px solid transparent;
    border-radius: 50%;
    position: relative;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    filter: saturate(40) hue-rotate(175deg) brightness(1) opacity(60%);
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}


.perfil{
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.align-ico{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    position: relative;
    background-color: transparent;
    display: flex;
    padding-bottom: 40px;
}

.quad{
    position: relative;
    margin-top: 3%;
    display: flex;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 100%;
    text-align: center;
}

.qual{
    margin-top: 70px;
    margin-bottom: 40px;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    color: rgb(56, 56, 56);
    font-family: font3;
    text-shadow: rgba(0, 0, 0, 0.207) 0 0 3px;
}

.end-1{
    width: 100%;
    height: 40px;
    position: relative;
    z-index: 4;
    background-color: #fff;
}

.end-2{
    background-color: rgb(248, 248, 248);
    box-shadow: rgb(221, 221, 221) 5px 0px 5px;
    width: 100%;
    z-index: 5;
    position: relative;
    height: 200px;
}

.prod{
    width: 100%;
    height: 100%;
    border-top: 1px solid rgb(199, 199, 199);
    box-shadow: rgba(106, 106, 106, 0.645) 5px 0px 10px;
    margin-left: auto;
    margin-right: auto;
}

.categorias{
    position: absolute;
    background-color: rgb(242, 242, 242);
    width: 18.2%;
    height: 100%;
    border: 1px transparent solid;
}

.produtos{
    width: 80.8%;
    height: 100%;
    border: solid transparent 1px;
    position: relative;
    background-color: rgb(237, 237, 237);
    margin-left: auto;
}

.pr{
    min-width: 280px;
    height: 400px;
    background-color: rgb(247, 247, 247);
    box-shadow: rgb(213, 213, 213) 0px 0px 13px;
    margin: 30px;
    position: relative;
    display: inline-block;
    border-radius: 5px;
}

.align-prod{
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
}

#comprar-p{
    width: 100%;
    height: 15%;
    position: relative;
    top: 85%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgba(99, 197, 0, 0.905);
}

#comprar-p > p{
    position: absolute;
    color: #fff;
    font-family: font1;
    font-weight: bold;
    width: 100%;
    top: 30%;
    text-transform: uppercase;
}

.parte-cima{
    width: 100%;
    position: relative;
    height: fit-content;
    margin-top: 10px;
    margin-left: 10px;
}

#cat-txt{
font-family: font1;
text-align: center;
position: relative;
font-size: 40px;
text-transform: uppercase;
}

.cat-li{
    overflow: hidden;
    color: rgb(48, 48, 48);
    font-family: monospace;
    text-transform: uppercase;
    width: 96%;
    position: relative;
}

#n{
    font-weight: lighter;
    padding: 2px;
}

#b{
    font-weight: bold;
    padding: 2px;
}








@media only screen and (max-width: 600px) {
    .circle-icos{
        border: 1px solid transparent;
        border-radius: 50%;
        position: relative;
        width: 70px;
        height: 70px;
        margin-left: 20px;
        filter: saturate(40) hue-rotate(197deg);
    }

    #icos-1{
        background-image: url('/img/criança.png');
        background-position: 447px -1px;
        background-size: 75px;
    }
    #icos-2{
        background-image: url('/img/criança.png');
        background-position: 447px -1px;
        background-size: 75px;
    
    }
    #icos-3{
        background-image: url('/img/criança.png');
        background-position: 447px -1px;
        background-size: 75px;
        
    }

    .pr{
        min-width: 200px;
    }

    .categorias{
        display: none;
    }

    .produtos{
        min-width: 100%;
    }


  }
