@font-face{
    src: url('/fonts/font.woff2');
    font-family: 'font1';
}

@font-face{
    src: url('/fonts/Vintages.ttf');
    font-family: 'font2';
}

@font-face{
    src: url('/fonts/LEonardo-Demo-Bold.otf');
    font-family: 'font3';
}

@font-face{
    src: url('/fonts/LEonardo-Demo-Bold.otf');
    font-family: 'font4';
}
*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 100%;
    height: 100%;
    background-color: #fff;
}

.slides{
    background-color: transparent;
    height: 500px;
    max-width: 100%;
}

.titulo{
    top: 5%;
    max-width: 100%;
    position: absolute;
    font-family: font1;
    text-transform: uppercase;
    margin-left: 12%;
    font-weight: bold;
    font-size: 60px;
    z-index: 3;
    color: rgb(255, 217, 1);
    filter: blur(0px);
    z-index: 5;

}

#titulo-g{
    font-size: 20px;
    color: rgb(95, 94, 88);
    z-index: 2;

}

#titulo-sub{
    font-size: 100px;
    position: relative;
    top: -180px;
    left: -100px;
    filter: blur(0px);
    color: rgba(2, 2, 2, 0.042);
    z-index: -2;
    font-family: Montserrat;
    font-weight: bold;
}

.p{
    font-size: 30px;
    max-width: 100%;
    z-index: 4;
    position: relative;
    color: rgb(0, 0, 0);
    font-family: font2;
    top: -120%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#img-slide{
    position: relative;
    max-height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: 0px 0px;
    z-index: 1;
    filter: blur(0px) grayscale();
}

#degrade-slide{
    position: absolute;
    top: 0%;
    z-index: 3;
    width: 100%;
    height: 500px;
    border-bottom: 10px solid rgb(252, 248, 6);
    box-shadow: rgb(238, 238, 238) 0px 1px 2px;
}

.cab{
    max-width: 100%;
    min-width: 100%;
    height: 40px;
    max-height: 40px;
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(100, 100, 100, 0.412) 0px 1px 6px;
    position: relative;
}

#cab-menu{
    display: flex;
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.align-menu{
    display: flex;
    background-color: transparent;
    position: relative;
    margin-right: 0%;
}

#cab-el{
    color: black;
    overflow: hidden;
    margin-right: 10px;
    text-decoration: none;
    margin-top: 16px;
    position: relative;
    font-family: font1;
}

#logo{
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 5px;
    margin-right: 5px;
}

#logo-titulo{
    position: relative;
    width: 100%;
    object-fit: none;
    height: 100%;
    z-index: 5;
    bottom: 120%;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

#icos-1{
    background-image: url('/img/criança.png');
    background-position: 330px -3px;
    background-size: 111px;
}
#icos-2{
    background-image: url('/img/criança.png');
    background-position: 330px -3px;
    background-size: 111px;

}
#icos-3{
    background-image: url('/img/criança.png');
    background-position: 330px -3px;
    background-size: 111px;
    
}

.circle-icos{
    border: 1px solid transparent;
    border-radius: 50%;
    position: relative;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    filter: saturate(40) hue-rotate(197deg);
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}


.perfil{
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.align-ico{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: transparent;
    display: flex;
    padding-bottom: 40px;
    box-shadow: rgb(153, 153, 153) 0px 6px 5px;
}

.quad{
    position: relative;
    margin-top: 3%;
    display: flex;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 100%;
    text-align: center;
}

.qual{
    margin-top: 70px;
    margin-bottom: 40px;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    color: rgb(56, 56, 56);
    font-family: font3;
    text-shadow: rgba(0, 0, 0, 0.207) 0 0 3px;
}

.end{
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: 40px;
}
@media only screen and (max-width: 600px) {
    .circle-icos{
        border: 1px solid transparent;
        border-radius: 50%;
        position: relative;
        width: 70px;
        height: 70px;
        margin-left: 20px;
        filter: saturate(40) hue-rotate(197deg);
    }

    #icos-1{
        background-image: url('/img/criança.png');
        background-position: 447px -1px;
        background-size: 75px;
    }
    #icos-2{
        background-image: url('/img/criança.png');
        background-position: 447px -1px;
        background-size: 75px;
    
    }
    #icos-3{
        background-image: url('/img/criança.png');
        background-position: 447px -1px;
        background-size: 75px;
        
    }

  }
