@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');

*::before, *, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 100%;
    width: 100%;
    height: 100%;
    
    background-color: rgb(232, 232, 232);
}

.init{
    width: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
}

.init .back{
    position: relative;

    min-height: 100vh;
    height: 100vh;
    width: 100%;

    z-index: 1;
}

.init .titulo{
    position: absolute;

    font-family: Lexend;

    margin-left: 12%;

    font-weight: 100;
    font-size: 3rem;

    color: rgb(34, 34, 34);

    z-index: 5;

    line-height: 1.5;
}

.init .titulo #titulo-g{
    font-size: 1rem;
    
    color: rgb(89, 89, 89);
    z-index: 2;

    text-transform: uppercase;

    line-height: 4;
}

.menu{
    position: relative;

    height: 4rem;
    width: 100%;

    background-color: rgb(232, 232, 232);
}

.menu .menu-ul{
    display: flex;
    align-items: center;
    
    position: relative;
    background: transparent;

    width: 100%;
    height: 100%;
    
    list-style: none;
}

.menu .menu-ul li{
    margin-right: 20px;

    position: relative;

    font-family: Lexend;

    font-size: 0.9rem;
}

.menu .menu-ul li a{
    text-decoration: none;

    color: black;
}

.menu .menu-ul li a:hover{
    color: rgb(75, 75, 75);
}

.menu .menu-ul .li-l, .li-l a{
    width: fit-content;

    margin-left: 20px;
}

.menu .menu-ul .li-r{

    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;

    margin-left: auto;
}


.title{
    margin-top: 55px;
    margin-bottom: 40px;
    text-align: center;
    position: relative;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: rgb(21, 21, 21);
    font-family: Lexend;
    font-size: 3rem;
    background: #fff;
}

.inter{
    width: 100%;
    height: 100%;
    justify-content: center;
   display: flex;
}

.categories{
    position: relative;
    background-color: rgb(242, 242, 242);
    width: 260px;
    min-width: 260px!important;
    height: 100vh;
    z-index: 20;
    border-radius: 0.785px;

}

.products{
    height: 100vh;
    max-width: 100%;
    position: relative;
    background-color: rgb(237, 237, 237);
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 0.785px;
    overflow-y: scroll;
}

.products::-webkit-scrollbar{
    display: none;
}

.pr{
    min-width: 280px;
    height: 400px;
    background-color: rgb(247, 247, 247);
    box-shadow: rgb(213, 213, 213) 0px 0px 13px;
    margin: 30px;
    position: relative;
    display: inline-block;
    border-radius: 5px;
}

.align-prod{
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.buy{
    width: 100%;
    height: 15%;
    position: relative;
    top: 85%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgba(99, 197, 0, 0.905);
}

.buy p{
    position: absolute;
    color: #fff;
    font-family: font1;
    font-weight: bold;
    width: 100%;
    top: 30%;
    text-transform: uppercase;
    cursor: pointer;
}

#n{
    font-weight: lighter;
    padding: 2px;
}

#b{
    font-weight: bold;
    padding: 2px;
}

@media only screen and (max-width: 600px) {

    .pr{
        min-width: 280px;
    }

    .categorias{
        display: none;
    }

    .products{
        min-width: 100%;
    }


  }
