.c_categories {
    position: relative;

    // background-color: var(--primaryColor);

    width: 250px;
    max-width: 250px;
    min-width: 250px;

    height: fit-content;
    min-height: 100vh;

    z-index: 20;

    border-radius: 5px;

    padding: 10px;

    // box-shadow: 0 0 10px inset #d8d8d890,
    //  0 0 10px #12121225;

    .categories {
        width: 100%;
        height: fit-content;

        margin: 5px 0;

        // background-color: red;

        .cat_name {
            padding: 20px;

            border-bottom: 1px solid rgb(232, 232, 232);

            h1 {
                color: rgb(31, 31, 31);

                font-size: 16px;
                font-family: Lexend;
            }
        }

        .cat_sub {
            display: flex;
            flex-direction: column;
            justify-content: center;

            z-index: 5;
            position: relative;
            gap: 10px;

            margin-top: 10px;

            label {
                padding: 10px;
                border-bottom: 1px solid rgba(228, 228, 228, 0);

                display: flex;
                align-items: center;

                user-select: none;

                // background-color: red;
                gap: 10px;

                &::before {
                    content: "";

                    background-color: rgb(230, 230, 230);

                    width: 20px;
                    height: 20px;

                    border-radius: 60%;

                    overflow: hidden;
                    position: absolute;
                }

                .cat_stars {
                    display: flex;
                    align-items: center;
                    position: relative;

                    width: 100%;

                    gap: 5px;
                }

                input.starCheck {
                    opacity: 0;

                    margin-right: 10px;


                    width: 15px;
                    height: 15px;

                    position: relative;

                    &:checked {
                        opacity: 100%;

                        width: 15px;
                        height: 15px;

                        &{
                            background-color: red;
                        }
                    }
                }

            }
        }
    }
}