*::before,
*,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// temp

::-webkit-scrollbar{
    background-color: rgba(121, 121, 121, 0.159);
    
    border-radius: 40px;
    
    width: 3px;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(60, 60, 60, 0.371);

    border-radius: 40px;
}

body{
    max-width: 100%;
    width: 100%;
    height: 100%;
    
    background-color: rgb(232, 232, 232);
}

.init{
    width: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
}

.init .back{
    position: relative;

    min-height: 100vh;
    height: 100vh;
    width: 100%;

    z-index: 1;
}

.init .back img{
    filter: grayscale(1) opacity(0.1);

    position: absolute;

    right: 0;
    margin-left: auto;

    user-select: none;
    pointer-events: none;
}

.init .titulo{
    position: absolute;

    font-family: Lexend;

    margin-left: 12%;

    font-weight: 800;
    font-size: 3rem;

    color: rgb(34, 34, 34);

    z-index: 5;

    line-height: 1.5;
}

.init .titulo #titulo-g{
    font-size: 1rem;
    font-weight: 100;

    
    color: rgb(177, 177, 177);
    z-index: 2;

    text-transform: uppercase;

    line-height: 4;
}

@keyframes fade {
    0%{
        opacity: 0%;
        bottom: 10px;
    }
    50%{
        opacity: 20%;
    }

    100%{
        opacity: 100%;
        bottom: 0;
    }
}



/* ---------- */

.inter{
    width: 100%;
    height: fit-content;

    padding: 20px;

    justify-content: center;

    display: flex;
}


.products{
    min-height: 100vh;
    height: fit-content;
    max-width: 100%;
    min-width: 300px;

    position: relative;

    background-color: rgba(237, 237, 237, 0.152);

    border-radius: 5px;

    margin-left: 3px;
    margin-right: 3px;

    box-shadow: -1px 0px 5px rgba(213, 213, 213, 0.844),
    0px -1px 1px inset rgba(201, 201, 201, 0.5),
    -1px -1px 1px rgba(255, 255, 255, 0.207);
}

.products .align-prod{
    text-align: center;

    position: relative;

    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.products .align-prod .pr{
    min-width: 260px;
    width: 260px;
    height: 400px;

    background-color: rgba(247, 247, 247, 0.056);
    /* box-shadow: rgba(174, 174, 174, 0.152) 0px 0px 13px; */

    margin: 30px;

    position: relative;

    display: flex;
    justify-content: center;

    border-radius: 5px;

    overflow: hidden;
}
.products .align-prod .pr img{
    width: 200px;
    object-fit:contain;

    position: relative;
    top: -50px;

    filter: grayscale(1) contrast(1.5);

    transition: 0.5s;

    z-index: 1;

}

.products .align-prod .pr:hover img{
    filter: grayscale(0) contrast(1);
    transition: 0.5s;

    transform: scale(1.2);
}


.products .align-prod .pr .buy{
    width: 60%;
    height: 12%;

    position: absolute;

    bottom: 15%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.905);

    border-radius: 40px;

    cursor: pointer;

    z-index: 2;
}

.products .align-prod .pr .carrinho{
    width: 60%;
    height: 12%;

    position: absolute;

    bottom: 3%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 40px;
    
    cursor: pointer;
    
    
    z-index: 2;
}

.products .align-prod .pr .carrinho .carrinhoNow{
    position: absolute;
    
    border-radius: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    color: rgb(0, 0, 0);

    font-family: Lexend;


    height: 100%;
    width: 100%;

    font-size: 14px;
    user-select: none;
}

.products .align-prod .pr .carrinho .carrinhoX{
    color: rgba(0, 0, 0, 0.296);
    user-select: none;
}

.products .align-prod .pr .buy:hover{
    background-color: rgba(36, 36, 36, 0.905);
}

.products .align-prod .pr .buy p{
    position: absolute;
    
    color: #fff;

    font-family: Lexend;

    width: 100%;

    font-size: 14px;

}

@media only screen and (max-width: 600px) {

    .pr{
        min-width: 280px;
    }

    .categories{
        display: none;
    }

    .products{
        min-width: 100%;
    }

    .inter{
        padding-left: 0;
        padding-right: 0;
    }

    
    .search input::placeholder{
        display: none;
        opacity: 0;
    } 

  }
