*::before,
*,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// temp

::-webkit-scrollbar{
    background-color: rgba(121, 121, 121, 0.159);
    
    border-radius: 40px;
    
    width: 3px;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(60, 60, 60, 0.371);

    border-radius: 40px;
}

body{
    max-width: 100%;
    width: 100%;
    height: 100%;
    
    background-color: rgb(232, 232, 232);
}

:root{
    --headerHeight: 80px;
    --primaryColor: rgba(243, 243, 243, 0.727);
}


