
.c_menu{
    display: flex;
    
    position: fixed;
    
    top: 0;

    height: 4rem;
    width: 100%;
    
    background-color: rgba(232, 232, 232, 0.631);

    backdrop-filter: blur(3px);

    z-index: 1000;
}

.c_menu .menu_ul_r{
    display: flex;
    align-items: center;

    position: relative;
    background: transparent;

    width: fit-content;
    height: 100%;


    li{
        list-style: none;
    }
}


.c_menu .menu_ul_l{
    display: flex;
    align-items: center;

    position: relative;
    background: transparent;

    width: fit-content;
    height: 100%;
    
    list-style: none;
}

.c_menu .menu_ul_l li{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    font-family: Lexend;

    width:  fit-content;
    height: 100%;

    padding-left: 10%;
    padding-right: 10%;

    margin: 2px;

    cursor: pointer;
}



.c_menu .ul-l li:first-of-type{
    /* display: none; */
}

.c_menu .menu_ul_l li a{
    text-decoration: none;

    color: black;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}

.c_menu .menu_ul_l li a:hover{
    color: rgb(109, 109, 109);
}

.c_menu .menu_ul_l li img{
    position: relative;

    height: 20px;
    width: 20px;
}

.c_menu .ul-l .li-l{   
    animation: fade 0.3s linear;

}

.c_menu .ul-l{
    margin-left: 10px;
    margin-right: auto;

    position: relative;

    z-index: 10;
}

.c_menu .menu_ul_r{
    margin-left: auto;

    z-index: 9;

    position: absolute;

    right: 0;
    top: 0;

}

.c_menu .menu_ul_r #carrinho::before{
    content: attr(data-before);
    position: absolute;

    top: 35px;
    left: 12px;

    font-size: 10px;

    background-color: rgb(226, 44, 44);
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 13px;
    height: 13px;

    border-radius: 50%;

    z-index: 3;
}

.c_menu .menu_ul_r #user::before{
    content: '5';
    position: absolute;

    top: 35px;
    left: 12px;

    font-size: 10px;

    background-color: rgb(226, 44, 44);
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 13px;
    height: 13px;

    border-radius: 50%;

    z-index: 3;
}

.c_menu .menu_ul_r li{
    padding-left: 20px;
    padding-right: 20px;
}

.c_menu .ul-l li:first-of-type{
    display: none;
}

@media only screen and (max-width: 600px) {

    .c_menu .ul-l .li-l-x{
        display: none;
    }

    .c_menu .ul-l{
        flex-direction: column;

        height: 100vh;
        width: 100%;

        margin: 0;

        position: absolute;
    }

    .ul-l .li-l, .li-l-m{
        background-color: #fff;
    }

    .ul-l .li-l a, .li-l-m a{
        color: rgb(28, 28, 28);
    }
    .ul-l .li-l:hover a, .li-l-m:hover a{
        color: rgb(0, 0, 0);
    }
    
    /* ICON MENU ENCOLHIDO */
    .c_menu .ul-l-x .li-l-m{ 
        background-color: transparent;
        margin-left: 30px;
    }

    /* ICON MENU  */
    .c_menu .ul-l-x:first-of-type {
        display: flex;

        background-color: transparent;
        
        flex-direction: row;
    
        position: relative;
        
        width:  fit-content;
        height: 100%;

    }

    .c_menu .ul-l li{
        width: 100%;
        margin: 0;
        display: block;
    }
    .c_menu .ul-l li{
        width: 100%;
        margin: 0;
    }
    .c_menu .ul-l li:first-of-type{
        display: flex;
    }

    .c_menu .ul-l-x .ul-l li{
        width: 100%;
        margin: 0;
    }

}